# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Environment
.env

# Database
*.db
data/*.db

# Airflow
airflow.db
airflow.cfg
logs/
airflow-webserver.pid
standalone_admin_password.txt

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
